/* Logo NavBar Barra de busqueda */
.bienvenidos {
    margin: 0 15.6vw;
    padding: 18px 0 0px 0;
    /* box-shadow: 0px 1px 0px 0px #a7a7a7;
*/
}

/*A PANTALLA COMPLETA*/
.logo-web a svg {
    width: 20%;
    height: 80px;
    position: absolute;
    top: -7px;
    left: 40%;
}

/*DINAMICO PANTALLA COMPLETA*/
#logo {
    position: absolute;
    height: 70px;
    left: 45%;
}

/*FIN DINAMICO PANTALLA COMPLETA*/

.encabezado {
    width: 100%;
}

.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navBar__menu-ubicacion {
    display: flex;
    align-items: center;
}

.ubicacion__caja {
    display: flex;
    width: 150px;
}

.ubicacion-icono {
    width: 25px;
    margin-left: 5px;
}

.navBar__contactar-compra {
    display: flex;
    align-items: center;
}

.carrito-full {
    content: url("../img/Iconos/carritoFull.png");
}

.carrito-stroke {
    content: url("../img/Iconos/carritoStroke.png");
}

.carrito-stroke:hover {
    content: url("../img/Iconos/carritoFull.png");
}

.icono-productos:hover {
    content: url("../img/Iconos/icons8-food-donor-50 full.png");
}

.userIcon {
    content: url("../img/Iconos/icons8-food-donor-50.png");
}

.userIcon:hover {
    content: url("../img/Iconos/icons8-ingredientes-48asdasd.png");
}

.btn-menu:hover {
    color: var(--naranja__1);
}

.menu-hamburguesa {
    margin-right: 5px;
}

.btn-menu:hover > .menu-hamburguesa {
    content: url("../img/Iconos/Menu-Hover.png");
}

.navBar__contactar-compra a {
    margin-left: 10px;
    position: relative;
}

.btn-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.barra-responsive {
    display: none;
}

.barra-buscar {
    width: 100%;
    height: 18px;
    padding: 5px 0;
    border-radius: 0 7px 7px 0;
    background: var(--grisClaro);
}


.btn-buscar {
    background: var(--grisClaro);
    /*position: absolute;
    right: 30px;*/
    border-radius: 7px 0 0 7px;
    /*height: 15px;*/
    cursor: pointer;
    padding-left: 3px;
}


.barra-escritorio {
    display: flex;
}


.btn-buscar-escritorio {
    background: var(--grisClaro);
    border-radius: 7px 0 0 7px;
    /*height: 100%;*/
    cursor: pointer;
    padding-left: 5px;
}

/* navBar */
.menu__caja {
    display: flex;
}

.menu__caja nav {
    clip-path: circle(0% at 0 0);
    transition: clip-path 1s;
    transform: scale(0, 0);
    height: 0;
    width: 0;
}

.menu__caja nav ul li {
    font-size: 18px;
    margin-top: 15px;
    margin-left: 8%;
    font-weight: 500;
}


.menu__caja nav ul li a {
    color: #fff;
}


.menu__caja .activo {
    clip-path: circle(141.4% at 0 0);
    position: absolute;
    width: 100%;
    height: 100vh;
    background: var(--naranja__1);
    left: 0;
    top: 0;
    z-index: 1;
    transform: scale(1, 1);
}

.cerrar-menu {
    display: flex;
    justify-content: space-around;
    height: 40px;
}

/*
.lenguaje span {
    display: none;
}
*/
.lenguaje-activo {
    color: #e77f5c;
}

.cerrar-menu button {
    padding: 5px 15px;
    background: var(--naranja__1);
    border-radius: 5px;
    cursor: pointer;
}

.contar-productos-compra {
    position: absolute;
    right: -10px;
    top: -15px;
    color: #e77f5c;
}

.ocultar {
    display: none;
}


.apartado-menu {
    /*width: 80%;*/
    /*    border-top: 3px solid #fff;
    */
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2%;
    left: 3%;
    right: 3%;
}


.apartado-menu-border-top {
    width: 90%;
    display: flex;
    border-top: 3px solid #fff;
    justify-content: space-between;
    align-items: center;
}

.apartado-menu__logo {
    width: 20%;
    position: relative;
    right: 12px;
    top: 5px;
    min-width: 165px;
}

.contactar-apartado-menu {
    width: 71%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactar-apartado-menu li {
    display: flex;
    align-items: center;
    color: #fff;
}


.contactar-apartado-menu li svg {
    margin-right: 5px;
}


.contactar-apartado-menu li form {
    display: flex;
    width: 30vw;
}

.contactar-apartado-menu li form .input-suscribir__email {
    border: 2px solid #fff;
    border-right: none;
    background: var(--naranja__1);
    color: #fff;
    border-radius: 3px 0 0 3px;
}

.contactar-apartado-menu li form .input-suscribir__email::placeholder {
    color: #fff;
}


.contactar-apartado-menu li form .input-suscribir__submit {

    border-left: none;
    background: var(--naranja__2);
    color: #fff;
    border-radius: 0 3px 3px 0;
}

.cerrar-menu {
    justify-content: flex-end;
    margin-right: 5%;
}

.lenguaje span {
    color: #fff;
    cursor: pointer;
}

.lenguaje .lenguaje-activo {
    color: #f33842
}

input[type='radio'] {
    width: 20px;
    height: 20px;
    border: 2px solid #747474;
    border-radius: 50%;
    outline: none;
    opacity: 0.6;
    /*transition: 0.3s;*/
}

input[type='radio']:hover:before {
    box-shadow: 0px 0px 0px 12px rgba(204, 122, 13, 0.2);
    border-radius: 50%;
    opacity: 1;
    background: var(--naranja__1);
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 15%; /* Keeping margin only 10% */
    padding: 5%; /* Increase the inner area for pushing the border out of the circle */
    border-radius: 50%;
    transition: 0.3s; /* Move your transition to here */
}

input[type='radio']:checked:before {
    background: var(--naranja__1);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--naranja__1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: var(--naranja__1);
}

@media screen and (min-width: 700px) {
    .cerrar-menu {
        position: relative;
        top: 50px;
        right: 0;
    }
}


.menu__caja .email-navbar {
    margin-left: 0;
}

.margen-alineador {
    margin: 0 15.6vw;
}


@media screen and (max-width: 1000px) {
    .margen-alineador {
        margin: 0 15px;
    }

    .pagina-secundaria__contenedor {
        padding: 61px 15px;
    }
}

@media screen and (max-width: 1000px) {
    .visitar-productos {
        width: 45%;
    }

    .apartado-menu-border-top {
        width: 100%;
    }

    .logo-web a svg {
        position: relative;
        top: 7px;
        width: 80%;
        height: 77px;
        left: 10%;
        right: 10%;
    }

    /*DINAMICO MEDIA*/
    #logo {
        position: relative;
        top: 30px;
        width: 100%;
        height: 77px;
        left: 38%;
        right: 1%;
    }

    /*FIN DINAMICO MEDIA*/
    .menu__caja nav ul li {
        margin-left: 4%;
    }

    .bienvenidos {
        margin: 0 15px;
    }

}

@media screen and (min-width: 1000px) {
    .productos__contenedor {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px 20px;
    }


}

@media screen and (max-width: 700px) {

    .bienvenidos {
        margin: 0 15px;
        padding: 0;
    }

    .inicie-compra h2 {
        align-self: baseline;
        font-size: 18px;
        margin-left: 15px;
    }


    .barra-buscar {
        width: 100%;
        border-radius: 0 7px 7px 0;
    }

    .barra-responsive {
        display: flex;
    }

    .barra-escritorio {
        display: none;
    }


    .menu__caja .activo {
        width: 80%;
        height: 100vh;
        background: #fff;
        z-index: 1;
    }

    .lenguaje span {
        margin-right: 5px;
        color: #000;
    }

    .menu__caja nav ul li a {
        color: #000;
    }

    .apartado-menu {
        display: none;
    }

    #menu-principal {
        transition: all 0.5s;
        width: 100%;
        background: rgba(254, 255, 255, 0.452);
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    #menu-principal ul {
        padding-top: 30px;
        width: 70%;
        height: 100vh;
        background: #fff;
    }


    #menu-principal ul li a {
        font-size: 16px;
    }

    .ubicacion-icono, .menu__caja {
        transform: translate(1deg 1deg);
    }

    .menu-text-escritorio {
        display: none;
    }
}

