{% extends 'pages/includes/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/paginasSecundarias.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/modalTusOrdenes.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <section class="condicionesUso__contenedor pagina-secundaria__contenedor">
        <h2>CONDICIONES DE USO</h2>

        <div class="cuadro__pagina-secundaria">
            <p>
                El acceso a la Plataforma, y la creación voluntaria de un perfil por parte del Usuario, implica el
                conocimiento y la aceptación expresa e inequívoca de las presentes Condiciones Generales y la Política
                de Privacidad y la Política de Cookies por parte de todos los Usuarios.
            </p>
            <p>Acceso y Registro para Clientes</p>
            <p>Para poder ser Cliente de la Plataforma es indispensable que se cumplan los siguientes requisitos:</p>
            <p>Haber cumplido o ser mayor de 18 años de edad.
                Cumplimentar de manera veraz los campos obligatorios del formulario de registro, en el que se solicitan
                datos de carácter personal como nombre de usuario, correo electrónico, número de teléfono, etc. Aceptar
                las presentes Condiciones Generales. Aceptar la Política de Privacidad y Protección de Datos.</p>
            <p>Aceptar la Política de Cookies.</p>
            <p>El Usuario garantiza que todos los datos sobre su identidad y legitimidad facilitados a TSO TIENDA en sus
                formularios de registro de la Plataforma son veraces, exactos y completos. Asimismo, se compromete a
                mantener actualizados sus datos.
            </p>
            <p>En el supuesto en que el Usuario facilite cualquier dato falso, inexacto o incompleto o si TSO TIENDA
                considera que existen motivos fundados para dudar sobre la veracidad, exactitud e integridad de los
                mismos, TSO TIENDA podrá denegarle el acceso y uso presente o futuro de la Plataforma o de cualquiera de
                sus contenidos y/o servicios.
            </p>
        </div>
    </section>
{% endblock %}








