{% extends 'pages/includes/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/paginasSecundarias.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/modalTusOrdenes.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <section class="envioDevoluciones__contenedor pagina-secundaria__contenedor">
        <h2>ENVÍOS Y DEVOLUCIONES</h2>

        <div class="cuadro__pagina-secundaria">
            <p>El Cliente deberá comprobar los productos que el Mensajero le entregue en la dirección de entrega antes
                de proceder a firmar y ratificar el mandato. Si la persona que recibe no revisa correctamente las
                órdenes y firma el comprobante de entrega, el cliente pierde el derecho sobre cualquier reclamación. Con
                la firma, el Cliente confirma y ratifica el mandato, la compra presencial o servicio realizado en su
                nombre. Asimismo, el Cliente manifiesta que un tercero podrá ratificar el mandato en su nombre, por
                ejemplo, en aquellos supuestos en que el Cliente no se encuentre en la dirección final de entrega o haya
                designado a un tercero para la recogida y firma. Así, recae sobre el Cliente y/o dicho tercero la
                responsabilidad de verificar la adecuación del servicio, así como en su caso, recabar las evidencias
                suficientes para justificar lo contrario.</p>
            <p>Si el usuario realiza un pedido incorrecto que no cumple con las condiciones del producto y, debido a
                esto debe ser cancelado, o por motivos propios desea cancelar el pedido, TSO TIENDA no se hace cargo de
                los costes de devolución del pago, los que correrán a cargo del usuario. En caso de una cancelación
                instada por TSO TIENDA, por motivos ajenos a errores en el pedido, el Usuario tendrá derecho al
                reembolso total de la cantidad abonada.</p>
        </div>
    </section>
{% endblock %}









