{% extends 'pages/includes/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/paginasSecundarias.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/modalTusOrdenes.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <section class="politicaPrivacidad__contenedor pagina-secundaria__contenedor">
        <h2>POLÍTICA DE PRIVACIDAD</h2>
        <h3>Política de confidencialidad</h3>

        <div class="cuadro__pagina-secundaria">
            <p><span class="resartar">Información recogida</span></p>
            <p>Nuestro sitio web recolectará información personal con el objetivo de brindarle nuestros servicios al
                usuario y de proveerle con una experiencia fluida, por ejemplo: Nombre, información de contacto como su
                dirección de correo electrónica e información demográfica. Así mismo cuando sea necesario podrá ser
                requerida información específica para procesar algún pedido o realizar una entrega o facturación.</p>
        </div>
        <div class="cuadro__pagina-secundaria">
            <p><span class="resartar">Uso de la información recogida</span></p>
            <p>Nuestro sitio web recolectará información personal con el objetivo de brindarle nuestros servicios al
                usuario y de proveerle con una experiencia fluida, por ejemplo: Nombre, información de contacto como su
                dirección de correo electrónica e información demográfica. Así mismo cuando sea necesario podrá ser
                requerida información específica para procesar algún pedido o realizar una entrega o facturación.</p>
        </div>
    </section>
{% endblock %}












