{% extends 'pages/includes/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/paginasSecundarias.css' %}" rel="stylesheet" type="text/css">
    <style>
        #limpiar {
            margin-bottom: 8px;
            background-color: #b21f2d; /* Green */
            border: none;
            color: white;
            padding: 2px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            cursor: pointer;
            border-radius: 5px;
        }

        #limpiar_oculto, .odenarli li input {
            background-color: #e67e5c; /* Green */
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            cursor: pointer;
            font-family: 'Lato', sans-serif;
        }

        .lista_subcAt {
            cursor: pointer;
            margin-bottom: 10px;
            color: #646262;
            font-size: 14px;
        }

        .lista_subcAtResponsive {
            cursor: pointer;
            margin-bottom: 10px;
            color: var(--grisClaro);
            font-size: 13px;
            background-color: #e67e5c;
        }

        .lista_subcAt:hover {
            color: #EE5C2C;
        }

    </style>
{% endblock %}
{% block content %}
    <section class="productos__contenedor-principal">
        {# FILTAR PRODUCTOS REPONSIVE#}
        {% include 'pages/includes/productos/FiltrarProductos.html' %}
        {# MENU PRODUCTOS#}
        {% include 'pages/includes/productos/MenuProductos.html' %}
        {#      CAJA PRODUCTOS#}
        {% include 'pages/includes/productos/todosLosProductosContenedor.html' %}
    </section>

    <section class="caja-productos__paginador">
        {% include 'pages/includes/paginador.html' %}
    </section>
{% endblock %}


{% block ExtrasJS %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
            onBeforePageLoad: function () {
                {#$('.loading').show();#}
            },
            onAfterPageLoad: function ($items) {
                {#$('.loading').hide();#}
            }
        });
    </script>
    <script>

        function ordenar(v) {
            alert(v);
            $.get(
                {
                    url: '{% url 'productos'  %}',
                    data: {v},
                    dataType: 'json'
                }
            )
        }

        const btnA = document.querySelector('.btn-aseo__categorias-escritorio');
        {% for cat in categorias %}
            const btn{{ cat.id }} = document.querySelector('.btn_{{ cat.id }}');
        {% endfor %}


        function setCategoryMenu(btn, classOfButton) {
            document.querySelector(classOfButton).classList.toggle('ocultar');
            btn.classList.toggle('invertir');
        }

        {% for cat in categorias %}
            btn{{ cat.id }}.addEventListener('click', () => setCategoryMenu(btn{{ cat.id }}, '._{{cat.id}}categorias'));
        {% endfor %}

        btnA.addEventListener('click', () => setCategoryMenu(btnA, '.aseo__categorias-escritorio'));

    </script>
    <script src="{% static 'js/filter-table.js' %}"></script>

    <script>
        (function ($) {
            $(document).ready(function () {
                $('#contact-table').filterTable('.contact-filter');
            });
        })(jQuery);

    </script>

{% endblock %}







