{% load static %}
<article class="caja-productos">

    {% for p in object_list %}
        <div class="plantilla-producto">
            <div class="producto">
                <a class="mostrar-producto" href="{% url 'VerProductos' p.id %}">
                    <img class="foto-producto" alt="foto producto" src="{{ p.imagen.url }}"
                         style="width: 90%; height: 160px">
                </a>
                <div class="nombre-precio-producto ">
                    <h4 class="nombre">{{ p.nombre }}</h4>
                    <p>{{ p.precio }}</p>
                </div>

                <div class="contar-producto">
                    <button class="btn-contar restar" id="id{{ p.id }}" type="button">&minus;</button>
                    <div id="contador" class="id{{ p.id }}">1</div>
                    <button class="btn-contar sumar" id="id{{ p.id }}" type="button">&plus;</button>
                </div>

                <button
                        type="button"
                        class="annadir-carrito btnSimple-carrito__comprar-mas"
                        id="btnid{{ p.id }}"
                        onclick="addCarrito({{ p.id }},
                                document.querySelector('.id{{ p.id }}').textContent)"
                >
                    AÑADIR
                </button>
                <button id="pbtnid{{ p.id }}"
                        onclick="addCarrito({{ p.id }},
                                document.querySelector('.id{{ p.id }}').textContent);
                                document.querySelector('.annadir-carrito').classList.add('animate')"
                        class="annadir-carrito carrito__comprar-mas" type="button"></button>
            </div>

        </div>

    {% endfor %}

    {% if not object_list %}
        <h3 style="position: absolute">No tenemos productos que coincidan con los filtros aplicados.</h3>
    {% endif %}

    <article class="caja-productos__paginador_completo-otro">
        {% include 'pages/includes/paginador.html' %}
    </article>

    <script>
        function addCarrito(id, quantity) {
            $.ajax(
                {
                    url: '{% url 'cartAjax'  %}',
                    type: 'POST',
                    data: {id: id, quantity: quantity},
                    dataType: 'json',
                    success: document.querySelector('.contar-productos-compra ').innerHTML = '!'
                }
            )
        }


    </script>
  {#OCULTAR Y MOSTRAR EL BOTON ANNADIR#}
  <script src="{% static 'js/mostrar-ocultar btn annadir.js' %}"></script>
</article>