<section class="pago-contenedor pagina-secundaria__contenedor">
    <h2>DETALLES DEL ENVÍO</h2>

    <form action="#" class="form-pago">
        <label for="first-name-input"><p>Nombre y Apellidos de quien paga</p></label>
        <input id="first-name-input" class="input-simple" type="text" required>
        <p id="error1" style="color:red;" class="d-none error">Debe completar el nombre</p>
        <p id="error12" style="color:red;" class="d-none error">El nombre no debe contener números</p>

        <label for="first-name-input2"><p>Nombre y Apellidos de quien recibe</p></label>
        <input id="first-name-input2" class="input-simple" type="text" required>
        <p id="error11" style="color:red;" class="d-none error">Debe completar el nombre</p>
        <p id="error112" style="color:red;" class="d-none error">El nombre no debe contener números</p>

        <label for="email-input"><p>Correo electrónico</p></label>
        <input id="email-input" class="input-simple" type="email" required>
        <p id="error2" style="color:red;" class="d-none error">Correo no válido</p>

        <label for="phone-input"><p>Teléfono de quien paga</p></label>
        <input id="phone-input" class="input-simple" type="tel" required>
        <p id="error3" style="color:red;" class="d-none error">Debe completar el teléfono</p>

        <label for="phone-input2"><p>Teléfono de quien recibe</p></label>
        <input id="phone-input2" class="input-simple" type="tel" required>
        <p id="error31" style="color:red;" class="d-none error">Debe completar el teléfono</p>

        <label for="country-input"><p>Provincia</p></label>
        <input id="country-input" class="input-simple" type="text" required>
        <p id="error4" style="color:red;" class="d-none error">Debe especificar la provincia</p>

        <label for="city-input"><p>Municipio</p></label>
        <input id="city-input" class="input-simple" type="text" required>
        <p id="error5" style="color:red;" class="d-none error">Debe especificar el municipio</p>

        <label for="address-input"><p>Dirección de quien recibe</p></label>
        <input id="address-input" class="input-simple" type="text" required>
        <p id="error6" style="color:red;" class="d-none error">Debe especificar la dirección</p>

        {#REUSUMEN DEL PEDIDO#}
        {% include 'pages/includes/pago/Resumen del pedido.html' %}
        {#SELECCIONE FORMA DE PAGO#}
        {#            {% include 'pages/includes/pago/Seleccione forma de pago.html' %}#}

        <div class="condiciones-uso">
            <input type="checkbox" id="aceptar" required><label>Acepto los términos y condiciones de
            uso.</label>
            <p id="error7" style="color:red;" class="d-none error">Debe estar de acuerdo términos y condiciones de uso
                para
                continuar</p>

        </div>

        <h3>Seleccione forma de pago: </h3>
        <h4>Pagar al recibir</h4>

        <input onclick="enviarform()" style="margin-top: 10px" type="button" value="HACER PEDIDO"
               class="btnPagar-submit">

        <h4>Pagar con PAYPAL</h4>
        <!-- botones de paypal -->
        <div style="    margin-bottom: 54px;margin-top: 10px" id="paypal-button-container"></div>

    </form>
    <script
            src="https://www.paypal.com/sdk/js?client-id={{ general.id_paypal|safe }}&locale=es_ES&currency=USD"></script>

    <script>
        let nombre = document.getElementById('first-name-input')
        let nombre2 = document.getElementById('first-name-input2')
        let email = document.getElementById('email-input')
        let phone = document.getElementById('phone-input')
        let phone2 = document.getElementById('phone-input2')
        let country = document.getElementById('country-input')
        let city = document.getElementById('city-input')
        let address = document.getElementById('address-input')
        let aceptar = document.getElementById('aceptar')
        let emailvalid = /^[^@]+@[^@]+\.[a-zA-Z]{1,}$/;
        let nombrevalid = /^([^0-9]*)$/;
        let lista = '';
        {% for key,value in request.session.cart.items %}
            lista += '{% if not forloop.first %}\n {% endif %} .{{value.product.nombre}} '
            + 'X{{ value.quantity|safe}} ' +'$'
            + {{value.product.precio|safe  }}*{{ value.quantity|safe}}
        {% endfor %}

        function ajaxFunction(url, parameters, type, callback, async = true) {
            $.ajax({
                url: url,
                type: type,
                data: parameters,
                dataType: 'json',
                processData: false,
                contentType: false,
                async: async
            })
                .done(function (data) {
                    // callback(data)
                    if (!data.hasOwnProperty('error')) {
                        callback(data)
                        return false
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown)
                })
                .always(function (data) {
                })
        }

        function validar() {

            if (nombre.value.length === 0) {
                $('.error').addClass('d-none')
                document.querySelector('#error1').classList.remove('d-none');
                nombre.focus()

            } else if (!nombrevalid.test(nombre.value)) {
                $('.error').addClass('d-none')
                document.querySelector('#error12').classList.remove('d-none');
                nombre.focus()

            } else if (nombre2.value.length === 0) {
                $('.error').addClass('d-none')
                document.querySelector('#error11').classList.remove('d-none');
                nombre2.focus()

            } else if (!nombrevalid.test(nombre2.value)) {
                $('.error').addClass('d-none')
                document.querySelector('#error112').classList.remove('d-none');
                nombre2.focus()

            } else if (!emailvalid.test(email.value)) {
                $('.error').addClass('d-none')
                document.querySelector('#error2').classList.remove('d-none');
                email.focus()

            } else if (phone.value.length === 0) {
                $('.error').addClass('d-none')
                document.querySelector('#error3').classList.remove('d-none');
                phone.focus()

            } else if (phone2.value.length === 0) {
                $('.error').addClass('d-none')
                document.querySelector('#error31').classList.remove('d-none');
                phone2.focus()
            } else if (country.value.length === 0) {
                $('.error').addClass('d-none')
                document.querySelector('#error4').classList.remove('d-none');
                country.focus()
            } else if (city.value.length === 0) {
                $('.error').addClass('d-none')
                document.querySelector('#error5').classList.remove('d-none');
                city.focus()
            } else if (address.value.length === 0) {
                $('.error').addClass('d-none')
                document.querySelector('#error6').classList.remove('d-none');
                address.focus()
            } else if (!aceptar.checked) {
                $('.error').addClass('d-none')
                document.querySelector('#error7').classList.remove('d-none');
                aceptar.focus()
            } else {
                return true
            }
        }

        function enviarform() {

            if (validar()) {
                {#####################AUMENTAR CANTIDAD VENDIDOS############################}
                {% for key,value in request.session.cart.items %}
                    ajaxFunction('{% url 'aumentar_venta' value.product.id value.quantity %}', {
                        'id': '{{value.product.id}}',
                        'quantity': '{{ value.quantity }}'
                    }, 'POST', response => {
                        console.log(response)
                    })
                {% endfor %}
                {#####################REGISTRAR LA VENTA############################}
                $.ajax(
                    {
                        url: '{% url 'registar_venta' %}',
                        type: 'POST',
                        data: {
                            lista: lista,
                            total_price: total_sum(),
                            name: document.getElementById('first-name-input').value,
                            name2: document.getElementById('first-name-input2').value,
                            email: document.getElementById('email-input').value,
                            phone: document.getElementById('phone-input').value,
                            phone2: document.getElementById('phone-input2').value,
                            country: document.getElementById('country-input').value,
                            city: document.getElementById('city-input').value,
                            address: document.getElementById('address-input').value,
                        },
                        dataType: 'json',
                        success: () => {
                            document.getElementById('modal-respuesta').style.display = 'flex';
                            $.post('{% url 'cart_clearIndex' %}');
                        }

                    })
                {#####################MANDAR EMAIL############################}
                $.ajax(
                    {
                        url: '{% url 'venta_mail' %}',
                        type: 'POST',
                        data: {
                            lista: lista,
                            name: document.getElementById('first-name-input').value,
                            name2: document.getElementById('first-name-input2').value,
                            email: document.getElementById('email-input').value,
                            phone: document.getElementById('phone-input').value,
                            phone2: document.getElementById('phone-input2').value,
                            address: document.getElementById('address-input').value,
                            total: total_sum(),
                        },
                        dataType: 'json',
                    })
            }
        }

        paypal.Buttons({
            // onInit is called when the button first renders
            onInit(data, actions) {

                // Disable the buttons
                actions.disable();

                nombre
                    .addEventListener('keyup', valid);
                nombre2
                    .addEventListener('keyup', valid);
                email
                    .addEventListener('keyup', valid);
                phone
                    .addEventListener('keyup', valid);
                phone2
                    .addEventListener('keyup', valid);
                city
                    .addEventListener('keyup', valid);
                country
                    .addEventListener('keyup', valid);
                address
                    .addEventListener('keyup', valid);

                aceptar
                    .addEventListener('change', valid);

                function valid() {
                    let flag = nombre.value.length !== 0 && nombrevalid.test(nombre.value) &&
                        nombre2.value.length !== 0 && nombrevalid.test(nombre2.value) &&
                        emailvalid.test(email.value) &&
                        phone.value.length !== 0 &&
                        phone2.value.length !== 0 &&
                        city.value.length !== 0 &&
                        country.value.length !== 0 &&
                        address.value.length !== 0 &&
                        aceptar.checked;
                    console.log(flag)
                    if (flag) {
                        actions.enable();
                    } else {
                        actions.disable();
                    }
                }
            }

            ,

            // onClick is called when the button is clicked
            onClick() {

                // Show a validation error if the checkbox is not checked
                if (nombre.value.length === 0) {
                    $('.error').addClass('d-none')
                    document.querySelector('#error1').classList.remove('d-none');
                    nombre.focus()

                } else if (!nombrevalid.test(nombre.value)) {
                    $('.error').addClass('d-none')
                    document.querySelector('#error12').classList.remove('d-none');
                    nombre.focus()

                } else if (nombre2.value.length === 0) {
                    $('.error').addClass('d-none')
                    document.querySelector('#error11').classList.remove('d-none');
                    nombre2.focus()

                } else if (!nombrevalid.test(nombre2.value)) {
                    $('.error').addClass('d-none')
                    document.querySelector('#error112').classList.remove('d-none');
                    nombre2.focus()

                } else if (!emailvalid.test(email.value)) {
                    $('.error').addClass('d-none')
                    document.querySelector('#error2').classList.remove('d-none');
                    email.focus()

                } else if (phone.value.length === 0) {
                    $('.error').addClass('d-none')
                    document.querySelector('#error3').classList.remove('d-none');
                    phone.focus()

                } else if (phone2.value.length === 0) {
                    $('.error').addClass('d-none')
                    document.querySelector('#error31').classList.remove('d-none');
                    phone2.focus()
                } else if (country.value.length === 0) {
                    $('.error').addClass('d-none')
                    document.querySelector('#error4').classList.remove('d-none');
                    country.focus()
                } else if (city.value.length === 0) {
                    $('.error').addClass('d-none')
                    document.querySelector('#error5').classList.remove('d-none');
                    city.focus()
                } else if (address.value.length === 0) {
                    $('.error').addClass('d-none')
                    document.querySelector('#error6').classList.remove('d-none');
                    address.focus()
                } else if (!aceptar.checked) {
                    $('.error').addClass('d-none')
                    document.querySelector('#error7').classList.remove('d-none');
                    aceptar.focus()
                }
            }
            ,

            style: {
                layout: 'horizontal',
                color: 'gold',
                shape: 'rect',
                tagline: false,
                label: 'pay'
            }
            ,
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total_sum(),
                        },
                    }]

                });
            }
            ,
            onApprove: function (data, actions) {
                // This function captures the funds from the transaction.
                return actions.order.capture().then(function (details) {
                    {#####################AUMENTAR CANTIDAD VENDIDOS############################}
                    {% for key,value in request.session.cart.items %}
                        ajaxFunction('{% url 'aumentar_venta' value.product.id value.quantity %}', {
                            'id': '{{value.product.id}}',
                            'quantity': '{{ value.quantity }}'
                        }, 'POST', response => {
                            console.log(response)
                        })
                    {% endfor %}
                    {#####################REGISTRAR LA VENTA############################}
                    $.ajax(
                    {
                        url: '{% url 'registar_venta' %}',
                        type: 'POST',
                        data: {
                            lista: lista,
                            total_price: total_sum(),
                            name: document.getElementById('first-name-input').value,
                            name2: document.getElementById('first-name-input2').value,
                            email: document.getElementById('email-input').value,
                            phone: document.getElementById('phone-input').value,
                            phone2: document.getElementById('phone-input2').value,
                            country: document.getElementById('country-input').value,
                            city: document.getElementById('city-input').value,
                            address: document.getElementById('address-input').value,
                        },
                        dataType: 'json',
                        success: () => {
                            document.getElementById('modal-respuesta').style.display = 'flex';
                            $.post('{% url 'cart_clearIndex' %}');
                        }

                    })
                    {#####################MANDAR EMAIL############################}
                    $.ajax(
                    {
                        url: '{% url 'venta_mail' %}',
                        type: 'POST',
                        data: {
                            lista: lista,
                            name: document.getElementById('first-name-input').value,
                            name2: document.getElementById('first-name-input2').value,
                            email: document.getElementById('email-input').value,
                            phone: document.getElementById('phone-input').value,
                            phone2: document.getElementById('phone-input2').value,
                            address: document.getElementById('address-input').value,
                            total: total_sum(),
                        },
                        dataType: 'json',
                    })
                });

            }
        }).render('#paypal-button-container');

    </script>

</section>
